.topup-color {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  height: 655px;
}
.topup-color-sub-topup {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}


*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
