.phone-color-pin {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  height: 585px;
}

.input-pin {
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(169, 169, 169, 0.6);
  color: black;
  height: 50px;
}
